h1 {
  font-family: "Kdam Thmor Pro", sans-serif;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

i:hover {
  color: green;
  cursor: pointer;
}
